.App {
  text-align: center;
  background-color: #131212;
  height: 1000vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.BgImg {
  z-index: 0;
  opacity: 0.12;
}

.About_Me_Text {
  z-index: 1;
  color: #fff;
  text-align: left;
  position: absolute;
  top: 91%;
  left: 10%;
}
